<!doctype html>
<html lang="en">
  <head>
    <title>Ruby on Moon</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/public/style.css" rel="stylesheet" />
  </head>
  <body>
    <p>User name: <%= @user.name %></p>
    <p>User age: <%= @user.age %></p>
  </body>
</html>
